html {
  font-size: 18px;
  color: white;
  background-color: black;
  font-family: Helvetica;
}

.container {
  display: block;
  width: 960px;
}

.header {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: firebrick;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.navigation li {
  display: inline;
}

.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  margin: auto;
  min-height: 25rem;
  position: relative;
}

.banner div {
  position: relative;
}

.bannerText {
  background-color: black;
  display: inline-block;
  margin-top: 9rem;
  padding: 2rem 10rem;
  font-weight: bold;
  position: relative;
}

.bannerText h4 {
  font-size: 1rem;
  padding-bottom: .25rem;
}

.bannerText h1 {
  font-size: 2rem;
}

div {
  display: block;
}

.products {
  display: flex;
  /*align-items: center;*/
  /*align-content: center;*/
  justify-content: center;
  align-content: center;
  margin-top: 3rem;
  position: relative;
}

.product {
  display: flex;
  /*max-width: 30%;*/
  /*padding: 2rem 9rem;*/
  justify-content: center;
  align-content: center;
}

.product-image {
  display: flex;
  padding: 2rem 0;
  border: 4px solid black;
  background-color: white;
  align-items: center;
  /*justify-content: center;*/
  max-width: 30%;
}

.product-image img {
  max-width: 8em;
  display: flex;
  padding: 2rem 0;
  align-self: center;
}
